{{#each golfers}}
<div class="entry">
	<div>
		<h3 class="entryName" style="padding:20px; background-color: #868e96; color:#fff; margin: 0px;">{{entryName}}
		<button style="float: right;" class="deleteEntry btn btn-danger" value="Delete Entry" data-entryID="{{_id}}" data-toggle="modal" data-target="#deleteEntryModal"><span class="fa fa-trash"></span> Delete Entry</button>
		</h3>
	</div>
	<table class="table table-striped table-bordered table-responsive-sm" id="entryId" data-id="{{_id}}">
		<thead class="table-info">
			<tr>
				<th class="text-center">OWGR</th>
				<th class="text-center">Rank</th>
				<th>Golfer</th>
				<th class="text-center">Pos</th>
				<th class="text-center">R1</th>
				<th class="text-center">R2</th>
				<th class="text-center">R3</th>
				<th class="text-center">R4</th>
				<th class="text-center">Total</th>
				{{!-- <th class="text-center">Actions</th> --}}

			</tr>
		</thead>
		<tbody>	
				<tr>
					<td class="text-center">1 - 5</td>
					<td id="rank1" class="text-center" data-rank="{{golfer1.rank}}">{{golfer1.rank}}</td>
					<td id="golfer1Id" data-name="{{golfer1.name}}">{{golfer1.name}}</td>
					<td class="text-center">{{golfer1.position}}</td>					
					<td class="text-center">{{golfer1.round1}}</td>
					<td class="text-center">{{golfer1.round2}}</td>
					<td class="text-center">{{golfer1.round3}}</td>
					<td class="text-center">{{golfer1.round4}}</td>
					<td class="text-center">{{golfer1.total}}</td>				
					{{!-- <td class="text-center">				
						<button class="btn btn-success save " value="Save Golfer" data-player="{{golfer1.name}}"><span class="fa fa-save"></span></button>
						<button class="btn btn-warning edit" value="Edit Golfer" data-player="{{golfer1.name}}"><span class="fa fa-pencil"></span></button>
						<button class="btn btn-danger" value="Delete Golfer" data-player="{{golfer1.name}}"><span class="fa fa-trash"></span></button>
					</td> --}}
				</tr>
				<tr>
					<td class="text-center">6 - 10</td>
					<td id="rank2" class="text-center" data-rank="{{golfer2.rank}}">{{golfer2.rank}}</td>
					<td id="golfer2Id" data-name="{{golfer2.name}}">{{golfer2.name}}</td>
					<td class="text-center">{{golfer2.position}}</td>					
					<td class="text-center">{{golfer2.round1}}</td>
					<td class="text-center">{{golfer2.round2}}</td>
					<td class="text-center">{{golfer2.round3}}</td>
					<td class="text-center">{{golfer2.round4}}</td>
					<td class="text-center">{{golfer2.total}}</td>				
					{{!-- <td class="text-center">				
						<button class="btn btn-success save " value="Save Golfer" data-player="{{golfer2.name}}"><span class="fa fa-save"></span></button>
						<button class="btn btn-warning edit" value="Edit Golfer" data-player="{{golfer2.name}}"><span class="fa fa-pencil"></span></button>
						<button class="btn btn-danger" value="Delete Golfer" data-player="{{golfer2.name}}"><span class="fa fa-trash"></span></button>
					</td> --}}
				</tr>
				<tr>
					<td class="text-center">11 - 20</td>
					<td id="rank3" class="text-center" data-rank="{{golfer3.rank}}">{{golfer3.rank}}</td>
					<td id="golfer3Id" data-name="{{golfer3.name}}">{{golfer3.name}}</td>
					<td class="text-center">{{golfer3.position}}</td>
					<td class="text-center">{{golfer3.round1}}</td>
					<td class="text-center">{{golfer3.round2}}</td>
					<td class="text-center">{{golfer3.round3}}</td>
					<td class="text-center">{{golfer3.round4}}</td>
					<td class="text-center">{{golfer3.total}}</td>				
					{{!-- <td class="text-center">				
						<button class="btn btn-success save " value="Save Golfer" data-player="{{golfer3.name}}"><span class="fa fa-save"></span></button>
						<button class="btn btn-warning edit" value="Edit Golfer" data-player="{{golfer3.name}}"><span class="fa fa-pencil"></span></button>
						<button class="btn btn-danger" value="Delete Golfer" data-player="{{golfer3.name}}"><span class="fa fa-trash"></span></button>
					</td> --}}
				</tr>
				<tr>
					<td class="text-center">11 - 20</td>
					<td id="rank4" class="text-center" data-rank="{{golfer4.rank}}">{{golfer4.rank}}</td>
					<td id="golfer4Id" data-name="{{golfer4.name}}">{{golfer4.name}}</td>
					<td class="text-center">{{golfer4.position}}</td>					
					<td class="text-center">{{golfer4.round1}}</td>
					<td class="text-center">{{golfer4.round2}}</td>
					<td class="text-center">{{golfer4.round3}}</td>
					<td class="text-center">{{golfer4.round4}}</td>
					<td class="text-center">{{golfer4.total}}</td>				
					{{!-- <td class="text-center">				
						<button class="btn btn-success save " value="Save Golfer" data-player="{{golfer4.name}}"><span class="fa fa-save"></span></button>
						<button class="btn btn-warning edit" value="Edit Golfer" data-player="{{golfer4.name}}"><span class="fa fa-pencil"></span></button>
						<button class="btn btn-danger" value="Delete Golfer" data-player="{{golfer4.name}}"><span class="fa fa-trash"></span></button>
					</td> --}}
				</tr>
				<tr>
					<td class="text-center">21 - 50</td>
					<td id="rank5" class="text-center" data-rank="{{golfer5.rank}}">{{golfer5.rank}}</td>
					<td id="golfer5Id" data-name="{{golfer5.name}}">{{golfer5.name}}</td>
					<td class="text-center">{{golfer5.position}}</td>
					<td class="text-center">{{golfer5.round1}}</td>
					<td class="text-center">{{golfer5.round2}}</td>
					<td class="text-center">{{golfer5.round3}}</td>
					<td class="text-center">{{golfer5.round4}}</td>
					<td class="text-center">{{golfer5.total}}</td>				
					{{!-- <td class="text-center">				
						<button class="btn btn-success save " value="Save Golfer" data-player="{{golfer5.name}}"><span class="fa fa-save"></span></button>
						<button class="btn btn-warning edit" value="Edit Golfer" data-player="{{golfer5.name}}"><span class="fa fa-pencil"></span></button>
						<button class="btn btn-danger" value="Delete Golfer" data-player="{{golfer5.name}}"><span class="fa fa-trash"></span></button>
					</td> --}}
				</tr>
				<tr>
					<td class="text-center">51 +</td>
					<td id="rank6" class="text-center" data-rank="{{golfer6.rank}}">{{golfer6.rank}}</td>
					<td id="golfer6Id" data-name="{{golfer6.name}}">{{golfer6.name}}</td>
					<td class="text-center">{{golfer6.position}}</td>			
					<td class="text-center">{{golfer6.round1}}</td>
					<td class="text-center">{{golfer6.round2}}</td>
					<td class="text-center">{{golfer6.round3}}</td>
					<td class="text-center">{{golfer6.round4}}</td>
					<td class="text-center">{{golfer6.total}}</td>				
					{{!-- <td class="text-center">				
						<button class="btn btn-success save " value="Save Golfer" data-player="{{golfer6.name}}"><span class="fa fa-save"></span></button>
						<button class="btn btn-warning edit" value="Edit Golfer" data-player="{{golfer6.name}}"><span class="fa fa-pencil"></span></button>
						<button class="btn btn-danger" value="Delete Golfer" data-player="{{golfer6.name}}"><span class="fa fa-trash"></span></button>
					</td> --}}
				</tr>
				<tr class="bg-warning">
					<td></td>
					<td></td>
					<td class="text-right"><b>Totals</b></td>
					<td></td>
					<td ></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					{{!-- <td class="text-center"></td>		 --}}
				</tr>
		</tbody>

	</table>
</div>
{{/each}}
<!-- Delete Modal -->
	<div class="modal" id="deleteEntryModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title alert alert-danger text-center col-12"><span class="fa fa-list"></span><b> Delete Entry</b></h3>
				</div>
				<div class="modal-body">
					<h4 class="text-center"><span style="color:red; font-weight:bold;">'Delete Entry'</span><br/>will be remove this Entry from the<br/><b>Major's Pool</b></h4>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success" id="deleteEntry" data-dismiss="modal"><b>Delete Entry</b></button>
					<button type="button" class="btn btn-danger" id="deleteCancel" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>  