{{#each golfers}}
<div class="entry" style="margin: 40px 40px; border: 2px solid gray; border-radius: 10px";>
	<div>
		<h3 class="entryName" style="padding:20px; background-color: #868e96; color:#fff; margin: 0px;">{{entryName}}</h3>
		
	</div>
	<table class="table table-striped table-bordered" id="entryId" data-id="{{_id}}">
		<thead class="table-info">
			<tr>
				<th class="text-center">OWGR</th>
				<th class="text-center">Rank</th>
				<th>Golfer</th>
				<th class="text-center">Pos</th>
				<th class="text-center">R1</th>
				<th class="text-center">R2</th>
				<th class="text-center">R3</th>
				<th class="text-center">R4</th>
				<th class="text-center">Total</th>
				<th class="text-center">Actions</th>

			</tr>
		</thead>
		<tbody>	
				<tr>
					<td class="text-center">1 - 5</td>
					<td class="text-center">{{golfer1Rank}}</td>
					<td id="golfer1Id" data-name="{{golfer1}}">{{golfer1}}</td>
					
					<td class="text-center">{{#each Golfer1}}{{position}}{{/each}}</td>
					
					<td class="text-center">{{round1}}</td>
					<td class="text-center">{{round2}}</td>
					<td class="text-center">{{round3}}</td>
					<td class="text-center">{{round4}}</td>
					<td class="text-center">{{total}}</td>				
					<td class="text-center">				
						<button class="btn btn-success save " value="Save Golfer" data-player="{{name}}"><span class="fa fa-save"></span></button>
						<button class="btn btn-warning edit" value="Edit Golfer" data-player="{{name}}"><span class="fa fa-pencil"></span></button>
						<button class="btn btn-danger" value="Delete Golfer" data-player="{{name}}"><span class="fa fa-trash"></span></button>
					</td>
				</tr>
				<tr>
					<td class="text-center">6 - 10</td>
					<td class="text-center">{{golfer2Rank}}</td>
					<td id="golfer2Id" data-name="{{golfer2}}">{{golfer2}}</td>
					<td class="text-center">{{position}}</td>
					<td class="text-center">{{round1}}</td>
					<td class="text-center">{{round2}}</td>
					<td class="text-center">{{round3}}</td>
					<td class="text-center">{{round4}}</td>
					<td class="text-center">{{total}}</td>	
					<td class="text-center">				
						<button class="btn btn-success save " value="Save Golfer" data-player="{{name}}"><span class="fa fa-save"></span></button>
						<button class="btn btn-warning edit" value="Edit Golfer" data-player="{{name}}"><span class="fa fa-pencil"></span></button>
						<button class="btn btn-danger" value="Delete Golfer" data-player="{{name}}"><span class="fa fa-trash"></span></button>
					</td>
				</tr>
				<tr>
					<td class="text-center">11 - 20</td>
					<td class="text-center">{{golfer3Rank}}</td>
					<td id="golfer3Id" data-name="{{golfer3}}">{{golfer3}}</td>
					<td class="text-center">{{position}}</td>
					<td class="text-center">{{round1}}</td>
					<td class="text-center">{{round2}}</td>
					<td class="text-center">{{round3}}</td>
					<td class="text-center">{{round4}}</td>
					<td class="text-center">{{total}}</td>	
					<td class="text-center">				
						<button class="btn btn-success save " value="Save Golfer" data-player="{{name}}"><span class="fa fa-save"></span></button>
						<button class="btn btn-warning edit" value="Edit Golfer" data-player="{{name}}"><span class="fa fa-pencil"></span></button>
						<button class="btn btn-danger" value="Delete Golfer" data-player="{{name}}"><span class="fa fa-trash"></span></button>
					</td>	
				</tr>
				<tr>
					<td class="text-center">11 - 20</td>
					<td class="text-center">{{golfer4Rank}}</td>
					<td id="golfer4Id" data-name="{{golfer4}}">{{golfer4}}</td>
					<td class="text-center">{{position}}</td>
					<td class="text-center">{{round1}}</td>
					<td class="text-center">{{round2}}</td>
					<td class="text-center">{{round3}}</td>
					<td class="text-center">{{round4}}</td>
					<td class="text-center">{{total}}</td>	
					<td class="text-center">				
						<button class="btn btn-success save " value="Save Golfer" data-player="{{name}}"><span class="fa fa-save"></span></button>
						<button class="btn btn-warning edit" value="Edit Golfer" data-player="{{name}}"><span class="fa fa-pencil"></span></button>
						<button class="btn btn-danger" value="Delete Golfer" data-player="{{name}}"><span class="fa fa-trash"></span></button>
					</td>
				</tr>
				<tr>
					<td class="text-center">21 - 50</td>
					<td class="text-center">{{golfer5Rank}}</td>
					<td id="golfer5Id" data-name="{{golfer5}}">{{golfer5}}</td>
					<td class="text-center">{{position}}</td>
					<td class="text-center">{{round1}}</td>
					<td class="text-center">{{round2}}</td>
					<td class="text-center">{{round3}}</td>
					<td class="text-center">{{round4}}</td>
					<td class="text-center">{{total}}</td>	
					<td class="text-center">				
						<button class="btn btn-success save " value="Save Golfer" data-player="{{name}}"><span class="fa fa-save"></span></button>
						<button class="btn btn-warning edit" value="Edit Golfer" data-player="{{name}}"><span class="fa fa-pencil"></span></button>
						<button class="btn btn-danger" value="Delete Golfer" data-player="{{name}}"><span class="fa fa-trash"></span></button>
					</td>
				</tr>
				<tr>
					<td class="text-center">51 +</td>
					<td class="text-center">{{golfer6Rank}}</td>
					<td id="golfer6Id" data-name="{{golfer6}}">{{golfer6}}</td>
					<td class="text-center">{{position}}</td>
					<td class="text-center">{{round1}}</td>
					<td class="text-center">{{round2}}</td>
					<td class="text-center">{{round3}}</td>
					<td class="text-center">{{round4}}</td>
					<td class="text-center">{{total}}</td>	
					<td class="text-center">				
						<button class="btn btn-success save " value="Save Golfer" data-player="{{name}}"><span class="fa fa-save"></span></button>
						<button class="btn btn-warning edit" value="Edit Golfer" data-player="{{name}}"><span class="fa fa-pencil"></span></button>
						<button class="btn btn-danger" value="Delete Golfer" data-player="{{name}}"><span class="fa fa-trash"></span></button>
					</td>		
				</tr>
				<tr class="bg-warning">
					<td></td>
					<td></td>
					<td class="text-right"><b>Totals</b></td>
					<td></td>
					<td ></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td class="text-center"></td>		
				</tr>
		</tbody>

	</table>
</div>
{{/each}}