
	<div class="card" style="margin: 20px 20px 0px 20px">
		<div class="card-header text-white bg-secondary mb-3">
			<h3 style="float: left;">Article Title</h3>
				<div style="float: right;">
					<button class="btn btn-info">Add Note</button>
					<button class="btn btn-success">Save Article</button>
					<button class="btn btn-danger">Delete Article</button>
				</div>
		</div>
		<ul class="list-group list-group-flush">
			{{#each Golfer1}}
			<li class="list-group-item">{{golfer1.position}}</li>
			<li class="list-group-item">{{golfer1.round1}}</li>
			<li class="list-group-item">{{golfer1.round2}}</li>
			<li class="list-group-item">{{golfer1.round3}}</li>
			<li class="list-group-item">{{golfer1.round4}}</li>
			{{/each}}
		</ul>
		<div class="card-body">
			<a href="#" class="card-link">Story link</a>
		</div>
	</div>